.app-nav {
    text-align: center;
    background: #fff;
    a { 
        font-weight: 500;
        font-size: 16px;
        color: #858687;
        text-transform: uppercase;
        padding: 15px 0;
        display: inline-block;
        min-width: 150px;
        border-bottom: 3px solid transparent;
        &:hover,
        &.active {
            color: #262a2d;
            border-bottom-color: #262a2d;
        }
    }
}
.wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 96%;
}